/* landing page styling */
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 16%; 
  font-family: 'Gabriela', serif;
  
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}

/* mouse click styling and animation*/
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 

}
#mouse-click {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
/* about us styling */
.container-about{
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

}
.services{
  background-image: url(../assets/backgrounds/s_image.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

/* what we do styling */
.wwd{
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
}
.wwd .headings{
  padding-bottom: 38px;
}

.col-md-4 {
  float: left;
  width: 33.33%;
  
}

@media screen and (max-width: 600px) {
  .col-md-4 {
    width: 100%;
  }
}

.initiallyHidden { display: none; }

/* portfolio styling */
.pfl{
  text-align: center;
  padding-top: 80px;
  font-family: 'Gabriela', serif;
}

.headings .pfl{
  padding-bottom: 38px;
}

.col-md-3 {
  float: left;
  width: 33.33%;
  
}

.col-md-3{
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* style on the portfolio icons */
.col-md-3 img{
  height:200px;
  width: 200px;
  padding-bottom: 20px;
  }
.col-md-3{
  padding-left:4%;
  padding-right:20%;
  }
.icons{
  padding-top:20px;
  text-align: center;
}


/* Portfolio icons hover styling */
#overlay1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay2{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay3{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay4{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay5{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay6{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay7{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
 padding: 30%;
 }

 #overlay8{
  font-family: 'Anton', sans-serif;
  display:none;
  color: red;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top:0px;
  left:42px;
  width:200px;
  height:200px;
  padding: 30%;
 }

 .contact{
   background-image: url(../assets/backgrounds/c_image.jpg);
   padding-top: 60px;
   padding-bottom: 60px;
   color: white;
   background-size: cover;
 }

 .mailchimp{
   background-color: transparent;
 }

 