
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 16%; 
  font-family: 'Gabriela', serif;
  
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
  /* animation-iteration-count: infinite; */
}
#mouse-click {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}

.container-about{
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

}
.services{
  background-image: url(../assets/backgrounds/s_image.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.wwd{
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
}
.wwd .headings{
  padding-bottom: 38px;
}

.col-md-4 {
  float: left;
  width: 33.33%;
  
}

@media screen and (max-width: 600px) {
  .col-md-4 {
    width: 100%;
  }
}

.pfl{
  text-align: center;
  padding-top: 80px;
  font-family: 'Gabriela', serif;
}

.headings .pfl{
  padding-bottom: 38px;
}